.responsive-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.responsive-grid article {
    background: #e0e7ff;
    padding: 40px;
    border-radius: 16px;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 800px) {
    .responsive-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .responsive-grid article {
        background: #ea0c0c;
    }

}

@media (max-width: 520px) {
    .responsive-grid {
        grid-template-columns: 1fr;
    }
}