p {
    color: #f50000;
}

.highlight {
    background: #fef3c7;
    padding: 10px;
    border-radius: 10px;
}

#special-text {
    color: #4f46e5;
    font-weight: 1000;
    font-size: 100px;
}

.box {
    background: #dbeafe;
    padding: 20px;
    border-radius: 12px;
    margin-top: 14px;
}