.flex-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #111827;
    padding: 14px;
    height: 50px;
    border-radius: 14px;
}

.flex-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.flex-cards {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.flex-cards div {
    flex: 1 1 180px;
    background: #dbeafe;
    padding: 40px;
    border-radius: 14px;
    text-align: center;
    font-weight: bold;
}